.teamBannerImg {
  width: 100%;
  height: 708px;
}
.teamWorkersDiv {
  padding: 80px 156px;
}
.teamWorkersHead {
  color: #310c4b;
  text-align: center;
  font-family: playfair;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}
.teamWorkersPar {
  color: #333;
  text-align: center;
  font-family: poppins;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}
.teamCardDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30.612px;
  margin-top: 60px;
}
.teamCard {
  box-shadow: 7.389158725738525px 4.222376346588135px 3.1667823791503906px 0px
    rgba(0, 0, 0, 0.1);
}
.teamWorkerImg {
  width: 100%;
  height: auto;
}
.teamCardInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.teamCardName {
  color: #333;
  text-align: center;
  font-family: playfair;
  font-size: 16.752px;
  font-weight: 700;
}
.teamCardPost {
  color: #828282;
  text-align: center;
  font-family: poppins;
  font-size: 13.029px;
  font-weight: 400;
  margin-top: 10px;
}

.practiceFormDiv2 {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.consultingDiv2 {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 32px;
  margin-top: 80px;
}
.input2 {
  outline: none;
  display: flex;
  width: 100%;
  height: 30px;
  padding: 9.412px;
  align-items: center;
  gap: 9.412px;
  border: 1.5px solid #dcbaea;
}
.input2::placeholder {
  color: #333;
  font-family: poppins;
  font-size: 14.118px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

@media only screen and (max-width: 1270px) and (min-width: 1024px) {
  .teamBannerImg {
    height: auto;
  }
  .teamWorkersDiv {
    padding: 80px;
  }
  .formDiv2 {
    margin: 0;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 600px) {
  .teamBannerImg {
    height: auto;
  }
  .teamWorkersDiv {
    padding: 80px;
  }
  .teamCardDiv {
    grid-template-columns: 1fr 1fr;
  }
  .formDiv2 {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .teamBannerImg {
    height: auto;
  }
  .teamWorkersHead,
  .teamWorkersPar {
    text-align: left;
  }
  .teamWorkersDiv {
    padding: 80px 20px;
  }
  .teamCardDiv {
    display: block;
  }
  .teamCard {
    margin-bottom: 40px;
  }
  .practiceFormDiv2 {
    padding: 80px 20px;
  }
  .consultingDiv2 {
    display: block;
  }
  .formDiv2 {
    margin-top: 40px;
  }
  .input2 {
    width: 89%;
  }
  .textarea {
    width: 95%;
  }
}
