.image-carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.carousel-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: none;
}
.carousel-slide.active {
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      114deg,
      rgba(57, 0, 98, 0.7) 0%,
      rgba(58, 4, 52, 0.58) 35.42%,
      rgba(190, 15, 57, 0) 100%
    ),
    no-repeat;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.carousel-details {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 0 80px;
}
.carousel-details-Par {
  color: #f2f2f2;
  font-family: poppins;
  font-size: 24.622px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}
.carousel-details-H2 {
  width: 760.892px;
  color: #f2f2f2;
  font-family: playfair;
  font-size: 66px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 33px 0;
  text-align: left;
}
.carousel-dots-banner {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-dot-banner {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.carousel-dot.active {
  background-color: #9B51E0;
}

@media only screen and (max-width: 1270px) and (min-width: 1024px) {
  .image-carousel {
    height: 60vh;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 600px) {
  .image-carousel {
    height: 70vh;
  }
  .carousel-details-Par {
    font-size: 18px;
  }
  .carousel-details-H2 {
    width: 480px;
    font-size: 42px;
  }
}

@media screen and (max-width: 600px) {
  .image-carousel {
    height: 80vh;
  }
  .carousel-details {
    padding: 0 20px;
  }
  .carousel-details-Par {
    transform: translateY(-50%);
  }
  .carousel-details-H2 {
    width: 100%;
    font-size: 42px;
    margin: -30px 0 15px 0;
  }
}
