.checkinContainer {
  background-color: #f7f8f9;
  padding: 61px 100px 61px 156px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 41.41px;
}
.checkinCard {
  background-color: transparent;
  display: flex;
  align-items: center;
  /* gap: 0;
  padding: 0;
  width: 100%; */
}
.checkiniconsDiv {
  background-color: #dcbaea;
  padding: 12px;
  width: fit-content;
  height: fit-content;
}
.checkinImg {
  width: 38px;
  height: auto;
}
.detailsDiv {
  height: 100%;
  background-color: #fff;
  padding: 5px 70px 5px 12px;
}
.subHeading {
  color: #333333;
  font-family: poppins !important;
  font-size: 14.138px;
  font-style: normal;
  font-weight: 300;
  text-transform: capitalize;
  margin: 2px 0 0 0;
  padding: 0;
  text-align: left;
} 
.smallHeading {
  text-align: left;
  color: #310c4b;
  font-family: playfair;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1270px) and (min-width: 1024px) {
  .checkinContainer {
    padding: 61px 100px 61px 156px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 41.41px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 600px) {
.checkinContainer {
    padding: 61px 10px 61px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .checkinContainer {
    padding: 61px 20px;
    display: block;
  }
  .checkinCard {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 300px) and (min-width: 120px) {
  .checkinContainer {
    padding: 61px 0;
    display: block;
    overflow: hidden;
  }
  .checkinCard {
    margin-top: 30px;
  }
}