nav {
  background: #331440;
  padding: 10px 156px;
}
.DesktopNav {
  display: flex;
  align-items: center;
}
.logoImg {
  width: 132px;
  height: 45px;
  cursor: pointer;
}
.logoImgMobile {
  display: none;
}
.options {
  display: flex;
  gap: 20px;
  margin-left: auto;
}
.option {
  color: #f7f8f9 !important;
  font-family: quicksand;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}
.option:hover {
  color: #c58cdb;
}
.menu {
  display: none;
  position: fixed;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: #331440; 
  transition: left 0.3s ease; 
  z-index: 999; 
}
.menu.open {
  left: 0; 
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger img {
  width: 30px;
  height: 30px;
}
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
} */
/* Add this CSS to style the close button */
.close-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.close-button:focus {
  outline: none;
}

.close-button:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 850px) and (min-width: 780px) {
  nav {
    background: #331440;
    padding: 20px 40px;
  }
}
@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }
  .DesktopNav {
    display: none;
  }
  .logoImg {
    display: none;
  }
  .logoImgMobile {
    display: block;
    width: 82px;
    height: auto;
    cursor: pointer;
  }
  .menu {
    display: block;
  }
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
  .option {
    font-size: 32px;
  }
  .hamburger {
    display: block;
  }
  .close-button {
    display: block;
  }
}
