.experienceContainer {
  background: url("../../../assets/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.purpleOverlay {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(53, 0, 72, 0.788) 0%,
    rgba(32, 0, 54, 0.82) 95.08%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experienceDetails {
  padding: 107px 223px 0 223px;
}
.experienceHeader {
  color: #fff;
  text-align: center;
  font-family: playfair;
  font-size: 54.906px;
  font-weight: 700;
  text-transform: capitalize;
}
.experiencePar {
  color: #fff;
  text-align: center;
  font-family: poppins;
  font-size: 21.962px;
  font-style: normal;
  font-weight: 300;
  text-transform: capitalize;
  margin: 33px 0 60px 0;
}
.lineHR {
  border: 1px solid #80319F;
  width: 70%;
}
.boxFlex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  align-items: center;
  padding: 69px 357px;
}
.boxFlexCard {
  padding: 32px 40px 32px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.7;
  background: var(--primary-400, #9338b6);
}
.boxFlexImg {
  width: 48px;
  height: 48px;
}
.boxFlexPar {
  color: #fff;
  font-family: poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.boxFlexH4 {
  color: #fff;
  text-align: center;
  font-family: poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media only screen and (max-width: 1270px) and (min-width: 1024px) {
  .experienceDetails {
    padding: 107px 123px 0 153px;
  }
  .boxFlex {
    padding: 69px 127px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 600px) {
  .experienceDetails {
    padding: 107px 80px 0 80px;
  }
  .boxFlex {
    padding: 69px 127px;
  }
}

@media screen and (max-width: 600px) {
  .experienceDetails {
    padding: 107px 20px 0 20px;
  }
  .boxFlex {
    display: block;
    padding: 49px 20px;
  }
  .boxFlexCard {
    margin-top: 20px;
  }
}
