.App {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 1270px) and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) and (min-width: 600px) {
}

@media screen and (max-width: 600px) {
}