@font-face {
  font-family: "playfair";
  src: local("playfair"),
    url(./assets/font/Playfair_Display/PlayfairDisplay-SemiBold.ttf)
      format("truetype");
}
@font-face {
  font-family: "poppins";
  src: local("poppins"),
    url(./assets/font/Poppins/Poppins-Light.ttf) format("truetype");
}
@font-face {
  font-family: "quicksand";
  src: local("quicksand"),
    url(./assets/font/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  color: #310c4b;
  text-align: center;
  font-family: playfair;
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
}
h2 {
  color: #310c4b;
  font-family: playfair;
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
}
h4 {
  color: #333;
  font-family: quicksand;
  font-size: 20px;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 500;
}
p {
  font-family: quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  /* text-transform: capitalize; */
  line-height: normal;
  text-align: justify;
}
