.banner2Div {
  height: 100vh;
}
.banner2Details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0 0 0;
}
.banner2H1 {
  font-family: playfair;
  display: flex;
  text-align: center;
  font-size: 42px;
}
.banner2P {
  font-family: quicksand;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  text-transform: lowercase !important;
}
